/* Специфичные стили для модулей */

/* Модуль Картинга */
#kartingView .time-slots {
    /* Специфичные стили для слотов картинга */
}

/* Модуль Аренды зала */
#partyView .time-slots {
    /* Специфичные стили для слотов зала */
}

/* Модуль Лаундж зоны */
#loungeView .time-slots {
    /* Специфичные стили для слотов лаундж зоны */
}

/* Модуль Симулятора */
#virtualView .time-slots {
    /* Специфичные стили для слотов симулятора */
}